body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0px;
}
.first {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(81, 81, 109); 
    padding: 0 10%;  
}

.header {
    font-family: Roboto,Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.logo {
    font-size: 20px;
    font-weight: 700;
}

ul {
    display: flex;
    list-style: none;
    gap : 16px;
}

a {
    font-family: Roboto,Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.box {
    padding: 10% 0;
    gap: 16px;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box .text {
    color: white;
    /* border: 1px solid white; */
    flex: 1;
    /* align-self: stretch; */
    display: flex;
    flex-direction: column;
}
.text h1 {
    margin: 0;
    color: white;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text p {
    flex:1;
    margin: 10px 0px;
}

.text button {
    flex:0 0 0;
    align-self: flex-start;
    margin-top: 10px;
    padding: 4px 16px;
    background-color: #4267B2;
    border-radius: 6px;
    color: white;
    border-style: none;
}

.big {
   flex:1 1 auto;
   width: 200px;
   height: 200px;
   object-fit: cover;
}

.second {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 25% 5%;
    gap : 16px;
}

.second .text {
    font-size: 26px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border-color: #4267B2;
    border-style: solid;
    border-width: 5px;
}

.third {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    padding: 5% 20%;
}

.third p {
    font-weight: bold;
    align-self: flex-end;
    font-size: 20px;
}

.third h4 {
    font-size: 30px;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

.fourth {
    padding: 3% 15%;
}

.container {
    border-radius: 10px;
    color: white;
    background-color: #4389da;
    display: flex;
    justify-content: space-evenly;
}

.A {
    padding: 3% 0px;
}

.p1 {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.p2 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container button {
    align-self: center;
    color: white;
    background-color: #4389da;
    border-radius: 5px;
    padding: 5px 16px;
    border-color: white;
    border-style: ridge;
}